<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="5">
	<listeners>
		<listener class-name="appium.listeners.MyTestListener"></listener>
	</listeners>
	<test name="test_demo1">
		<packages>
			<package name="appium.youdao">
				<exclude name="appium.youdao.testDemo"></exclude>
			</package>
		</packages>
	</test>
</suite>
